#page-wraper {
    background: url(../../images/page-bg.jpg) no-repeat  fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

body{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 25px;
}

h1{
	font-size: 40px;
}